* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: lightblue;
}

.container {
  margin: 100px auto;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  background: white;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 20px solid rgba(255, 219, 143, 0.5);
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc((100% - 2 * 2 * 5px) / 2);
  margin: 0px auto;
  max-width: 300px;
}

.container .card .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 300px;
  border: 5px solid #9fff9f;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background: #00cd00;
}

.container .card .post__title {
  background: green;
  padding: 10px 20px;
  color: white;
}

.container .card .post__text {
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  padding: 10px 20px;
}

.container .link {
  margin: 0 auto;
  width: 500px;
  height: auto;
}

.container .link .link__block {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .link .link__block .link__button:hover, .container .link .link__block .link__button:active {
  background-color: #da7503;
  opacity: 1;
  font-size: 12px;
}

.container .link .link__block .link__button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #fff;
  width: 300px;
  padding: 0 8px;
  background: #f09d05;
  font-size: 14px;
  line-height: normal;
  position: relative;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*transition: all .2s ease-in-out;*/
  font-family: BlinkMacSystemFont, -apple-system, Arial, Segoe UI, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 48px;
  -webkit-transition-property: background-color, font-size;
  transition-property: background-color, font-size;
  -webkit-transition-duration: 1s, 1.2s;
          transition-duration: 1s, 1.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.container .link .link__block .link__button .link__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-size: var(--common-font-size);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  font: 100%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.container .link .link__block .link__close-button span,
.container .link .link__block .link__close-button::before,
.container .link .link__block .link__close-button::after {
  content: "";
  width: 60%;
  height: 3px;
  background: white;
  position: absolute;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.container .link .link__block .link__close-button::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.container .link .link__block .link__close-button::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.container .link .link__block .link__close-button:hover span {
  display: none;
}

.container .link .link__block .link__close-button:hover::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .link .link__block .link__close-button:hover::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container .link .link__block .link__close-button {
  width: 50px;
  height: 50px;
  position: relative;
  background: #773737;
  margin-bottom: 20px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .link .linkedin:hover .linkedin__github__site {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container .link .linkedin:hover .linkedin__github__files {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container .link .linkedin {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 400px;
}

.container .link .linkedin p {
  color: grey;
}

.container .link .linkedin h1 {
  color: #DDDDDD;
  position: relative;
  margin-top: 145px;
  text-align: center;
}

.container .link .linkedin .linkedin__github__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50px;
  left: 0;
  margin: 30px auto;
  padding: 0px;
  background: #f09d05;
  width: 500px;
  height: auto;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  position: absolute;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.container .link .linkedin .linkedin__github__site .linkedin__github__site-igigigogo:hover, .container .link .linkedin .linkedin__github__site .linkedin__github__site-igigigogo:active {
  background-color: #fa2b07;
  opacity: 1;
  font-size: 12px;
}

.container .link .linkedin .linkedin__github__site .linkedin__github__site-igigigogo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #fff;
  width: 300px;
  padding: 0 8px;
  background: #fa6007;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*transition: all .2s ease-in-out;*/
  font-family: BlinkMacSystemFont, -apple-system, Arial, Segoe UI, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 48px;
  -webkit-transition-property: background-color, font-size;
  transition-property: background-color, font-size;
  -webkit-transition-duration: 1s, 1.2s;
          transition-duration: 1s, 1.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  left: 97px;
}

.container .link .linkedin .linkedin__github__site .linkedin__github__site-igigigogo .linkedin__github-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-size: var(--common-font-size);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  font: 100%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.container .link .linkedin .linkedin__github__files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 200px;
  left: 0;
  margin: 30px auto;
  padding: 0px;
  background: #f09d05;
  width: 500px;
  height: auto;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  position: absolute;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.container .link .linkedin .linkedin__github__files .linkedin__github__files-igigigogo:hover, .container .link .linkedin .linkedin__github__files .linkedin__github__files-igigigogo:active {
  background-color: #fa2b07;
  opacity: 1;
  font-size: 12px;
}

.container .link .linkedin .linkedin__github__files .linkedin__github__files-igigigogo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  fill: #fff;
  width: 300px;
  padding: 0 8px;
  background: #fa6007;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*transition: all .2s ease-in-out;*/
  font-family: BlinkMacSystemFont, -apple-system, Arial, Segoe UI, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 48px;
  -webkit-transition-property: background-color, font-size;
  transition-property: background-color, font-size;
  -webkit-transition-duration: 1s, 1.2s;
          transition-duration: 1s, 1.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  left: 97px;
}

.container .link .linkedin .linkedin__github__files .linkedin__github__files-igigigogo .linkedin__github-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  font-size: var(--common-font-size);
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font: inherit;
  vertical-align: baseline;
  font: 100%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.container {
  margin: 100px auto;
  width: 1000px;
  height: auto;
  background: white;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 20px solid rgba(255, 219, 143, 0.5);
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px auto;
  width: calc((100% - 2 * 2 * 5px) / 2);
  max-width: 300px;
}

.container .card .second-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 300px;
  border: 5px solid #fffb21;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background: #ffbe71;
}

.container .card .second-post__title {
  background: #FF9B24;
  padding: 10px 20px;
  color: white;
}

.container .card .second-post__text {
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  padding: 10px 20px;
  color: blue;
}
/*# sourceMappingURL=style.css.map */